[submodule "application/modules/transferencias"]
	path = application/modules/transferencias
	url = https://edymac@github.com/MASTERPC-CIA/billingsof_transferencias.git
[submodule "application/modules/cxp"]
	path = application/modules/cxp
	url = https://edymac@github.com/MASTERPC-CIA/billingsof_cxp.git
[submodule "application/modules/facturas"]
	path = application/modules/facturas
	url = https://edymac@github.com/MASTERPC-CIA/billingsof_facturas.git
[submodule "application/modules/stecnico"]
	path = application/modules/stecnico
	url = https://edymac@github.com/MASTERPC-CIA/billingsof_stecnico.git
[submodule "application/modules/correcciones"]
	path = application/modules/correcciones
	url = https://edymac@github.com/MASTERPC-CIA/billingsof_correcciones.git
[submodule "application/modules/garantias"]
	path = application/modules/garantias
	url = https://edymac@github.com/MASTERPC-CIA/billingsof_garantias.git
[submodule "application/modules/ajustesalida"]
	path = application/modules/ajustesalida
	url = https://edymac@github.com/MASTERPC-CIA/billingsof_ajustesalida.git
[submodule "application/modules/cierrecaja"]
	path = application/modules/cierrecaja
	url = https://edymac@github.com/MASTERPC-CIA/billingsof_cierrecaja.git
