
[submodule "application/modules/admin"]
	path = application/modules/admin
	url = https://github.com/MASTERPC-CIA/bill_admin.git
[submodule "application/modules/ajustentrada"]
	path = application/modules/ajustentrada
	url = http://github.com/MASTERPC-CIA/bill_ajustentrada.git
[submodule "application/modules/ajustesalida"]
	path = application/modules/ajustesalida
	url = http://github.com/MASTERPC-CIA/bill_ajustesalida.git
[submodule "application/modules/cierrecaja"]
	path = application/modules/cierrecaja
	url = http://eychamba@github.com/MASTERPC-CIA/bill_cierrecaja.git
