
[submodule "application/modules/admin"]
	path = application/modules/admin
	url = https://github.com/MASTERPC-CIA/bill_admin.git
[submodule "application/modules/ajustentrada"]
	path = application/modules/ajustentrada
	url = http://github.com/MASTERPC-CIA/bill_ajustentrada.git
[submodule "application/modules/ajustesalida"]
	path = application/modules/ajustesalida
	url = http://github.com/MASTERPC-CIA/bill_ajustesalida.git
[submodule "application/modules/cierrecaja"]
	path = application/modules/cierrecaja
	url = http://eychamba@github.com/MASTERPC-CIA/bill_cierrecaja.git
[submodule "application/modules/common"]
	path = application/modules/common
	url = http://eychamba@github.com/MASTERPC-CIA/bill_common.git
[submodule "application/modules/compras"]
	path = application/modules/compras
	url = http://eychamba@github.com/MASTERPC-CIA/bill_compras.git
[submodule "application/modules/contabilidad"]
	path = application/modules/contabilidad
	url = http://eychamba@github.com/MASTERPC-CIA/bill_contabilidad.git
[submodule "application/modules/correcciones"]
	path = application/modules/correcciones
	url = http://eychamba@github.com/MASTERPC-CIA/bill_correcciones.git
[submodule "application/modules/cotizacion"]
	path = application/modules/cotizacion
	url = http://eychamba@github.com/MASTERPC-CIA/bill_cotizacion.git
[submodule "application/modules/cxc"]
	path = application/modules/cxc
	url = http://eychamba@github.com/MASTERPC-CIA/bill_cxc.git
[submodule "application/modules/cxp"]
	path = application/modules/cxp
	url = http://eychamba@github.com/MASTERPC-CIA/bill_cxp.git
[submodule "application/modules/factelectronica"]
	path = application/modules/factelectronica
	url = http://eychamba@github.com/MASTERPC-CIA/bill_factelectronica.git
[submodule "application/modules/garantias"]
	path = application/modules/garantias
	url = http://eychamba@github.com/MASTERPC-CIA/bill_garantias.git
[submodule "application/modules/install"]
	path = application/modules/install
	url = http://eychamba@github.com/MASTERPC-CIA/bill_install.git
[submodule "application/modules/inventario"]
	path = application/modules/inventario
	url = http://eychamba@github.com/MASTERPC-CIA/bill_inventario.git
[submodule "application/modules/login"]
	path = application/modules/login
	url = http://eychamba@github.com/MASTERPC-CIA/bill_login.git
[submodule "application/modules/nota_credito"]
	path = application/modules/nota_credito
	url = http://eychamba@github.com/MASTERPC-CIA/bill_nota_credito.git
[submodule "application/modules/servicios"]
	path = application/modules/servicios
	url = http://eychamba@github.com/MASTERPC-CIA/bill_servicios.git
[submodule "application/modules/stecnico"]
	path = application/modules/stecnico
	url = http://eychamba@github.com/MASTERPC-CIA/bill_stecnico.git
[submodule "application/modules/transferencias"]
	path = application/modules/transferencias
	url = http://eychamba@github.com/MASTERPC-CIA/bill_transferencias.git
[submodule "application/modules/ventas"]
	path = application/modules/ventas
	url = http://eychamba@github.com/MASTERPC-CIA/bill_ventas.git
[submodule "application/modules/sms"]
	path = application/modules/sms
	url = http://eychamba@github.com/MASTERPC-CIA/bill_sms.git
[submodule "application/modules/ndc_venta"]
	path = application/modules/ndc_venta
	url = http://eychamba@github.com/MASTERPC-CIA/bill_ndc_venta
